          * {
          margin: 0;
          box-sizing: border-box;
          font-family: 'PT Serif';
        }
        body{
          height: 100vh;
          background-color: #000;
          background-image: url(images/Dy6.jpg);
          background-size: cover;
          background-position: center;
        }
        li{
          list-style: none;
          background-color:black;
          color: #fff;
          padding: 1rem 1.20rem;
          border: none;
          outline: none;
          border-radius: 20px;
          font-weight: 0.10srem;
          cursor: pointer;
          align-items: center;
        }
        a{ 
          text-decoration: none;
          color: white;
          font-size: 1.15srem;
         }
         a:hover{
          color: #f9688d;
         }

         /*HEADER*/

         header{
          position: relative;
          padding: 1rem 2rem;
         
         }
         .navbar{
           width: 80%;
           height: 50%;
           max-width: 1000px;
           margin: 0 auto;
           display: flex;
           align-items: center;
           justify-content: space-between;
        }  
        .navbar .logo a{
          font-size: 1.10 rems;
          font-weight: bold;
        }
        .navbar .links{
          display: flex;
          gap: 5rem;
        }
        .navbar .toggle_btn{
          color: #fff;
          font-size: 1.5rem;
          cursor: pointer;
        }
        .action_btn{
          background-color: black;
          color: #fff;
          padding: 0.5rem 1rem;
          border: none;
          outline: none;
          border-radius: 20px;
          font-weight: 0.8rem;
          cursor: pointer;

        }
        .action-btn:hover{
          scale: 1.05;
          color: black;
        }
        .action-btn:active{
          scale: 0.95;
        }
         .logo-img img{
          max-width: 100%;
          width: 300px;
          height: auto;
        }

        /*HOME CSS*/

        section{
          padding: 70px 17%;
        }
        .Home{
          width: 100%;
          min-height: 90vh;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1.5rem;
          align-items: center;
        }  
        .Home-img img{
          max-width: 100%;
          width: 600px;
          height: auto;
        }
        h1{
          font-weight: bold;
          color: white;
          font-size: 2.95rem;
          align-items: center;
        }
        h2{
          color: white;
          font-size: 2.95 rem;
        }
         .btn{
          background-color: black;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          outline: none;
          border-radius: 20px;
          font-weight: 0.8rem;
          cursor: pointer;
        }
        .btn.{
          transform: scale(1.2) translateY(10px);
          transition: .4s;
        }

        /*ABOUT*/

        .About{
          display: grid;
          grid-template-columns: repeat(2, 2fr);
          grid-gap: 1.5rem;
          align-items: center;
        }
        .About.img img{
          max-width: 10%;
          width:10px;
          height: 50;
        }
        .About-text span{
          color: white;
          font-weight: 800;
          align-items: center;
        }
        .About-text h2{
          font-weight: bold;
          color:white;
          font-size: 2.70 rem;
          align-items: center;

        }
        .About-text p{
          margin: 0.5rem 0 1.2rem;
          line-height: 1.2;
          color: black;
        }

        /*MENU*/

        .Heading{
          text-align: center;
        }
         .Heading span{
          color: white;
          font-weight: 600;
        }
         .Heading h2{
           font-size: 2.70rem;
        }
        .menu-container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(220px, auto));
          grid-gap: 1.5rem;
          align-items: center;
        }
        .box{
          position: relative;
          margin-top: 4rem;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: whitesmoke;
          padding: 20px;
          border-radius: 0.5rem;
        }
        .box-img {
          width: 220px ;
          height: 220px;
        }
        .box-img img{
          width: 100%;
          height: 100%;
        }
        .box h2 {
          font-size: 1.3rem;
          color: white;
        }
        .box h3 {
          color: black;
          font-size: 1rem;
          font-weight: 400;
          margin: 4px 0 10px;
        }
        ..box span{
          font-size: 1rem;
          color: white;
          font-weight: 600;
        }
        .box .bx {
          background:white;
          position: absolute;
          right: 0;
          top: 0;
          font-size: 20px;
          padding: 7px 10px;
        }
        
        /*MENU SERVICES*/

        .service-container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(240px, auto));
          grid-gap: 1.5rem;
          grid-top: 4rem;
        }
        .s-box{
          text-align: center;
          padding: 20px 30px;
        }
        .s-box img{
          width: 350px;
        }
        .s-box h3{
          margin: 4px 0 10px;
          color: black;
          font-size: 1.2rem;
        }
        .s-box {
          line-height: 1.7;
        }

        /*BUY PAGE*/

        .cta{
          background-color: white;
          padding: 70px 0;
          text-align: center;
          width: 50%;
          margin: 100px auto;
          border-radius: 10px;
        }
        .cta h2{
          font-size: 2rem;
          color:black;
          margin-bottom: 30pxs;
        }

        /*FOOTER*/

        .main{
          display: flex;
          flex-wrap: wrap;   
        }
        .footer{
          padding: 10px 0;
        }
        .col{
          width: 25%;
        }
        .col h4{
          font-size: 1.2rem;
          color: white;
          margin-bottom: 25px;
          position: relative;
        }
        .col h4::before{
          content: "";
          position: absolute;
          height: 2px;
          width: 50px;
          left: 0;
          bottom: -8px;
          background: white;
        }
        .col.ul.li:not(last-child){
          margin-bottom: 15px;
        }
        .col.ul.li.a{
          color: white;
          font-size: 1.1rem;
          display: block;
          text-transform: capitalize;
          transition: .4s;
        }
        .col.ul.li.a:hover{
          color: whitesmoke;
         transform: translateX(-12px);
        }

        /*CONTACT*/

    .body{
      width: 100%;
      height: 100%vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      background-color: #2c2f48;
    }
    .contact-container{
      max-width: 1000px;
      margin: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      background: #363953;
      box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
      border-radius: 0.5rem;
      overflow: hidden;
    }
    .form-container{
      padding: 20px;
    }
    .form-container h3{
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: white;
    }
    .contact-form {
      display: grid;
      row-gap: 1rem;
    }
    .contact-form input,
    .contact-form textarea{
      width: 100%;
      border: none;
      outline: none;
      background: #2c2f48;
      padding: 10px;
      font-size: 0.9rem;
      color: #fff;
      border-radius: 0.4rem;
    }
    .contact-form textarea {
      resize: none;
      height: 200px;
    }
    .contact-form .send-button{
      border: none;
      outline: none;
      background: #00dbde;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
    }


    .map frame{
      width: 100%;
      height: 100%;
    }

